.Header {
  display: flex;
  align-items: center;

  padding: 30px 50px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.project_name {
  font-size: 70px;
  color: rgb(224, 142, 202);
  font-weight: bold;
  letter-spacing: 20px;
  text-align: center;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 56%;
  font-size: 25px;
  justify-content: center;
}

.Header .header_left {
  width: 22%;
  justify-content: flex-start;
}

.Header .header_right {
  width: 22%;
  justify-content: flex-end;
}

@keyframes blink {
  0% {
    color: rgb(6, 59, 39);
  }
  5% {
    color: rgb(0, 255, 13);
  }
  95% {
    color: rgb(0, 255, 13);
  }
  100% {
    color: rgb(6, 59, 39);
  }
}

.blink {
  animation: blink 1.3s ease-in-out infinite;
}
